<header class="header">
    <div class="logo">{{headerTitle}}</div>
    <nav>
        <ul>
            <li>
                <a href="/all-attractions">All Attractions</a>
            </li>
            <li>
                <a href="/add-new-attraction">Add New Attractions</a>
            </li>
            <!-- <li>
                <a href="/favorite-attractions">My Favorite Attractions
                    <span class="badge">
                        {currentFavoriteCounts} 
                    </span> 
                </a>
            </li> -->
        </ul>
    </nav>
</header> 